{% load staticfiles %}
<html>
<head>
<title>Выберите файлы</title>
    <style type="text/css">
    html, body{
        margin:0;
        padding:0;
        width:100%;
        height:100%;
    }
    .CenterBlock{
        text-align: center;
        width:400px;
        height:400px;
        position:absolute;
        top:50%;
        left:50%;
        margin:-200px 0 0 -200px;
    }
    </style>
<script type="text/javascript" src="{% static 'js/selectingFiles.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
 
 <script type="text/javascript">
function upload(event) {
event.preventDefault();
var data = new FormData($('form').get(0));

$.ajax({
    url: $(this).attr('action'),
    type: $(this).attr('method'),
    data: data,
    cache: false,
    processData: false,
    contentType: false,
    success: function(data) {
        alert('success');
    }
});
return false;
}

$(function() {
    $('form').submit(upload);
});


</script>

<body>
<div class="CenterBlock">
<!--{% csrf_token %}-->
<form action="/upload/" method="post" id="file-upload-form" enctype="multipart/form-data"> 
   
    <p><input type="file" accept="image/*,image/jpeg"/></p><br />
    <div id="output">
    </div>
    <p><button type="submit" class="btn btn-primary" id='upload-btn'>Проверить</button></p>
</form>

</div>
</body>

</html>